In [2]:
import os, sys

sys.path.append(os.path.join(os.getcwd(), '../src/'))
from data_reader.data_reader import DataReader

In [3]:
dr = DataReader()
shot_df = dr.read_shot("shots-20201201010000", shot_number=1)
shot_df.head()

,timestamp,sequential_number,sequential_number_by_shot,displacement,load01,load02,load03,load04,shot_number,tags
0,1.606752e+09,0,0,49.171,0.568421,0.526316,0.597368,0.502632,1,"[異常A, 異常B]"
1,1.606752e+09,1,1,49.245,0.550000,0.526316,0.623684,0.507895,1,"[異常A, 異常B]"
2,1.606752e+09,2,2,49.136,0.568421,0.510526,0.660526,0.521053,1,"[異常A, 異常B]"
3,1.606752e+09,3,3,49.184,0.600000,0.502632,0.678947,0.521053,1,"[異常A, 異常B]"
4,1.606752e+09,4,4,49.149,0.578947,0.473684,0.671053,0.521053,1,"[異常A, 異常B]"

In [5]:
shots_meta_df = dr.read_shots_meta("shots-meta-20201201010000")
shots_meta_df.head()

   shot_number        spm  num_of_samples_in_cut_out
0            1  80.598572                     3125.0
1            2  80.613753                     3113.0
2            3  80.594235                     3129.0
3            4  80.636509                     3097.0
4            5  80.582338                     3140.0

In [12]:
from analyze.h_one_extract_features import *

spm = shots_meta_df[shots_meta_df.shot_number == 1].spm
# print(f"spm: {spm}")

max_indies, max_values = extract_features(shot_df, spm, max_load)
print(max_indies, max_values)

start_indies, start_values = extract_features(shot_df, spm, load_start2)
print(start_indies, start_values)

break_indies, break_values = extract_features(shot_df, spm, breaking)
print(break_indies, break_values)

[2182, 2181, 1975, 2019] [6.785456189524168, 5.385527501434686, 3.70495865877046, 4.012740422000842]
[1064, 1136, 1026, 1133] [0.7440113441498473, 0.7840786175966226, 0.6914523149980218, 0.8086664028492289]
[2, 3, 3, 3] [0.568421052631579, 0.5026315789473684, 0.6789473684210526, 0.5210526315789473]

In [13]:
num_of_shots = len(shots_meta_df)
# print(f"num_of_shots: {num_of_shots}")

#for shot_number in range(1, num_of_shots+1):
for shot_number in range(1, 15): # small set
    shot_df = dr.read_shot("shots-20201201010000", shot_number=shot_number)
    spm = shots_meta_df[shots_meta_df.shot_number == shot_number].spm

    print(f"shot_number: {shot_number}, num_of_data: {len(shot_df)}, spm: {spm}")

    max_indies, max_values = extract_features(shot_df, spm, max_load)
    print(max_indies, max_values)

    start_indies, start_values = extract_features(shot_df, spm, load_start2)
    print(start_indies, start_values)

    break_indies, break_values = extract_features(shot_df, spm, breaking)
    print(break_indies, break_values)

shot_number: 1, num_of_data: 3125, spm: 0    80.598572
Name: spm, dtype: float64
[2182, 2181, 1975, 2019] [6.785456189524168, 5.385527501434686, 3.70495865877046, 4.012740422000842]
[1064, 1136, 1026, 1133] [0.7440113441498473, 0.7840786175966226, 0.6914523149980218, 0.8086664028492289]
[2, 3, 3, 3] [0.568421052631579, 0.5026315789473684, 0.6789473684210526, 0.5210526315789473]
shot_number: 2, num_of_data: 3113, spm: 1    80.613753
Name: spm, dtype: float64
[2053, 2050, 2205, 2204] [4.120647443029952, 3.5650173325164443, 4.264495176498813, 4.417101536658378]
[1111, 1267, 1029, 9] [0.8845337026777494, 0.9660137185067909, 0.7407400079145235, 0.4507680684966004]
[1, 1, 2, 1] [0.37368421052631573, 0.5157894736842106, 0.2894736842105263, 0.6763157894736842]
shot_number: 3, num_of_data: 3129, spm: 2    80.594235
Name: spm, dtype: float64
[2017, 2036, 2175, 2174] [4.267050196346643, 3.7811680066507107, 5.823104689298365, 5.218945661365101]
[1, 1266, 81, 1229] [0.49239329667452203, 0.8753660466956823, 0.5383498782543549, 0.9174383326737917]
[2, 2, 2, 2] [0.381578947368421, 0.5473684210526317, 0.45526315789473687, 0.7026315789473684]
shot_number: 4, num_of_data: 3097, spm: 3    80.636509
Name: spm, dtype: float64
[2128, 2126, 1924, 2022] [6.421476000312592, 5.360403888150232, 3.699402944629051, 4.262732642091777]
[1175, 1223, 1109, 1170] [0.7360242712043262, 0.785714285714283, 0.7153541749109608, 0.8217451523545701]
[0, 0, 3, 3] [0.4368421052631579, 0.7157894736842106, 0.6210526315789474, 0.9263157894736842]
shot_number: 5, num_of_data: 3140, spm: 4    80.582338
Name: spm, dtype: float64
[2051, 2013, 2147, 2103] [4.2548288433741, 3.7862846030638098, 3.848599858150906, 4.321757864127532]
[1128, 1174, 1053, 1146] [0.6691465505869943, 0.6819548872180454, 0.6494130061997101, 0.7414852921778128]
[2, 2, 2, 2] [0.5973684210526314, 0.6657894736842105, 0.6789473684210526, 0.7394736842105264]
shot_number: 6, num_of_data: 3109, spm: 5    80.598572
Name: spm, dtype: float64
[2198, 2197, 2091, 2097] [5.354983863425268, 4.4555733976713325, 3.6976214988542337, 4.033901739736287]
[1015, 1113, 1007, 1114] [0.6731499802136922, 0.7618454029811377, 0.6679395858066208, 0.8216660071230725]
[1, 2, 2, 2] [0.4368421052631579, 0.5473684210526317, 0.4105263157894737, 0.468421052631579]
shot_number: 7, num_of_data: 3096, spm: 6    112.416384
Name: spm, dtype: float64
[2146, 2145, 1987, 2039] [6.505055787051311, 5.289452296612421, 3.735366738449268, 4.102865689147715]
[1, 1279, 1078, 1233] [0.4667583136946844, 1.0194235588972425, 0.8720287561007782, 1.0460559292969267]
[2, 2, 3, 3] [0.2552631578947368, 0.5526315789473685, 0.3973684210526316, 0.7026315789473684]
shot_number: 8, num_of_data: 3125, spm: 7    80.598598
Name: spm, dtype: float64
[2182, 2181, 1975, 2019] [6.785456189524168, 5.385527501434686, 3.70495865877046, 4.012740422000842]
[1064, 1136, 1026, 1133] [0.7440113441498473, 0.7840786175966226, 0.6914523149980218, 0.8086664028492289]
[2, 3, 3, 3] [0.568421052631579, 0.5026315789473684, 0.6789473684210526, 0.5210526315789473]
shot_number: 9, num_of_data: 3113, spm: 8    80.613727
Name: spm, dtype: float64
[2053, 2050, 2205, 2204] [4.120647443029952, 3.5650173325164443, 4.264495176498813, 4.417101536658378]
[1111, 1267, 1029, 9] [0.8845337026777494, 0.9660137185067909, 0.7407400079145235, 0.4507680684966004]
[1, 1, 2, 1] [0.37368421052631573, 0.5157894736842106, 0.2894736842105263, 0.6763157894736842]
shot_number: 10, num_of_data: 3129, spm: 9    80.594261
Name: spm, dtype: float64
[2017, 2036, 2175, 2174] [4.267050196346643, 3.7811680066507107, 5.823104689298365, 5.218945661365101]
[1, 1266, 81, 1229] [0.49239329667452203, 0.8753660466956823, 0.5383498782543549, 0.9174383326737917]
[2, 2, 2, 2] [0.381578947368421, 0.5473684210526317, 0.45526315789473687, 0.7026315789473684]
shot_number: 11, num_of_data: 3097, spm: 10    80.636483
Name: spm, dtype: float64
[2128, 2126, 1924, 2022] [6.421476000312592, 5.360403888150232, 3.699402944629051, 4.262732642091777]
[1175, 1223, 1109, 1170] [0.7360242712043262, 0.785714285714283, 0.7153541749109608, 0.8217451523545701]
[0, 0, 3, 3] [0.4368421052631579, 0.7157894736842106, 0.6210526315789474, 0.9263157894736842]
shot_number: 12, num_of_data: 3140, spm: 11    80.582338
Name: spm, dtype: float64
[2051, 2013, 2147, 2103] [4.2548288433741, 3.7862846030638098, 3.848599858150906, 4.321757864127532]
[1128, 1174, 1053, 1146] [0.6691465505869943, 0.6819548872180454, 0.6494130061997101, 0.7414852921778128]
[2, 2, 2, 2] [0.5973684210526314, 0.6657894736842105, 0.6789473684210526, 0.7394736842105264]
shot_number: 13, num_of_data: 3109, spm: 12    80.598572
Name: spm, dtype: float64
[2198, 2197, 2091, 2097] [5.354983863425268, 4.4555733976713325, 3.6976214988542337, 4.033901739736287]
[1015, 1113, 1007, 1114] [0.6731499802136922, 0.7618454029811377, 0.6679395858066208, 0.8216660071230725]
[1, 2, 2, 2] [0.4368421052631579, 0.5473684210526317, 0.4105263157894737, 0.468421052631579]
shot_number: 14, num_of_data: 3096, spm: 13   NaN
Name: spm, dtype: float64
[2146, 2145, 1987, 2039] [6.505055787051311, 5.289452296612421, 3.735366738449268, 4.102865689147715]
[1, 1279, 1078, 1233] [0.4667583136946844, 1.0194235588972425, 0.8720287561007782, 1.0460559292969267]
[2, 2, 3, 3] [0.2552631578947368, 0.5526315789473685, 0.3973684210526316, 0.7026315789473684]